<!DOCTYPE html>
{% load staticfiles %}

<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>一键评教</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
<div class="container-fluid" >
            <h3 class="text-center">
                简单粗暴的结果展示
            </h3>
            {% for var in res %}
            <pre><h5>{{ var }}</h5></pre>
            {% endfor %}<br><br>
			<h5>如果什么结果都没有，一般是账号密码错了，或者教务处崩了~~</h5>
			<a href="https://github.com/TofuNotHere/SCU_AutoEvaluate_Web"><h4>项目源码，有兴趣的可以看看</h4></a>
					<h4>打个广告，欢迎加入四川大学Python协会，群号：195317885</h>
</div>
</body>
